<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="../static/img/logo.png">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/profile.css">
	<link rel="stylesheet" href="../static/css/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/css/main.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My profile | HUB 2FOUR7</title>
</head>
<body>
	<div id="profile-navs" class="fixed-top">
		<div id="nava">
			<span><a href="{{ url_for('index') }}"><img src="../static/img/logo.png"></a></span>
			<big ><a href="{{ url_for('index') }}">HUB 2FOUR7</a></big>
		</div>
		<div id="navb">
			<div class="dropdown">
				<a class="btn dropdown-toggle" type="button" href="#" data-toggle="dropdown">
					<img src="../static/img/mine.png" width="25" height="25">
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li class="dropdown-header css-truncate">
						Signed in as<br>
						<strong class="display-name css-truncate-target">
                            {% if email %}
                                {{ email }}
                            {% else %}
                            @elseagle
                            {% endif %}
                        </strong>
					</li>
					<li class="dropdown-divider"></li>
					<li class="dropdown-item"><a href="{{ urls['url_subscribe'] }}"><small>New subscription</small></a></li>
					<li class="dropdown-item"><a href="{{ urls['url_profile'] }}"><small>Edit profile</small></a></li>
					<li class="dropdown-divider"></li>
					<li class="dropdown-item"><a href="#"><small>Report a problem</small></a></li>
					<li class="dropdown-item"><a href="{{ urls['url_profile'] }}"><small>Settings</small></a></li>
					<li class="dropdown-item"><a href="{{ url_for('logout') }}"><small>Log out</small></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="contents" class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				<div class="card">
					<span class="card-header" style="font-weight: 600;">Your account</span>
					<ul class="list-group list-group-flush">
						<li class="list-group-item active"><a href="{{ urls['url_profile'] }}" class="active"><small class="nav-styled">View profile</small></a></li>
						<li class="list-group-item"><a href="{{ urls['url_subscribe'] }}"><small class="nav-styled">Add new subscription</small></a></li>
						<li class="list-group-item"><a href="#"><small class="nav-styled">Manage active subscriptions</small></a></li>
						<li class="list-group-item"><a href="#"><small class="nav-styled">Billing options</small></a></li>
						<li class="list-group-item"><a href="#"><small class="nav-styled"> </small></a></li>
						<li class="list-group-item"><a href="#"><small class="nav-styled">Report a problem</small></a></li>
						<li class="list-group-item"><a href="#"><small class="nav-styled"> </small></a></li>
						<li class="list-group-item"><a href="#"><small class="nav-styled">Delete account</small></a></li>
					</ul></div>
			</div>
			<div class="col-md-9 content">
				<p class="bill">View Profile</p>
				<hr>
				<div class="row ">
					<div class="col-md-4 rows">Account Name</div>
					<div class="col-md-5">
						J.K. Rowlings
					</div>
					<div class="col-md-3"><span class="btn btn-light but">Edit</span></div>
				</div>
				<hr>
				<div class="row ">
					<div class="col-md-4 rows">Username </div>
					<div class="col-md-5">
						<a href="#" class="space">@elseagle</a>
					</div>
					<div class="col-md-3"><span class="btn btn-light but">Edit</span></div>
				</div>
				<hr>
				<div class="row ">
					<div class="col-md-4 rows">Account Email</div>
					<div class="col-md-5">
						{% if email %}
                            {{ email }}
                        {% else %}
                        	EriDotEggbuns@ojipadala.com
                        {% endif %}
					</div>
					<div class="col-md-3"><span class="btn btn-light but">Edit</span></div>
				</div>
				<hr>
				<div class="row ">
					<div class="col-md-4 rows">Subscriptions</div>
					<div class="col-md-5">
						<a href="#" class="space">None</a>
					</div>
					<div class="col-md-3"><span class="btn btn-light but"><a href="{{ urls['url_subscribe'] }}">Subscribe now</a></span></div>
				</div>
				<hr>
			</div>
		</div>
	</div>
	<div class="footer">
		<p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
	</div>
	<script type="text/javascript" src="../static/js/jquery-slim.min.js"></script>
	<script type="text/javascript" src="../static/js/popper.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../static/js/tweaks.js"></script>
</body>
</html>